= form_for @message do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :sender
    = f.text_field :sender_id
  .field
    = f.label :recipient
    = f.text_field :recipient_id
  .field
    = f.label :text
    = f.text_area :text
  .actions
    = f.submit 'Save'
