= form_for @message do |f|
  = f.hidden_field :recipient_id
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |message|
          %li= message

  %h2
    To
    = @message.recipient.first_name
    = @message.recipient.last_name
  .field
    = f.label :text
    = f.text_area :text
  .actions
    = f.submit 'Save'
    = link_to 'Back', messages_path
