%p#notice= notice

%p
  %b From
  = @message.sender.first_name
  = @message.sender.last_name
%p
  %b Recipient:
  = @message.recipient.first_name
  = @message.recipient.last_name
%p
  %b Text:
  = @message.text

= link_to 'Back', messages_path
