<nav>
  <% unless current_page? new_session_path %>
    <% if current_user %>
      <%= link_to "Log Out", session_path, method: :delete  %>
    <% else %>
      <%= link_to "Log In", new_session_path %>
    <% end %>
    <% unless current_page? controller: 'messages' %>
      <%= link_to 'Messages', messages_path %>
    <% end %>
    <% unless current_page? controller: 'toys' %>
      <%= link_to 'Toys', toys_path %>
    <% end %>
  <% end %>

  <% if current_user %>
    <div style='float:right'>
      Current User:
      <%= current_user.first_name %>
      <%= current_user.last_name %>
    </div>
  <% end %>
</nav>
